/* Contact inicio */

.container-form {
    height: 90%;
    background-image: linear-gradient(rgba(27, 51, 102, 0.843), rgba(59, 148, 203, 0.843));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 0 auto;
    border: none;
    background-color: rgba(204, 204, 204, 0.691);
    box-shadow: 0 0 5px $color-negro;

    h1 {
        text-transform: uppercase;
    }
}

:is(input, textarea) {
    background-color: transparent;
    color: $color-negro;
    font-size: 20px;
    width: 100%;
    padding: 3px 0;
    border: none;
    border-bottom: 4px solid $color-negro;
}

input::placeholder,
textarea::placeholder {
    color: $color-negro;
}