/* Responsive */
/* 0 hasta 480px */

@media (max-width: 480px) {
    .call {
        p {
            width: 80%;
        }
    }

    footer {
        font-size: 20px;
    }
}

/* Responsive */
/* 0 hasta 830px */

@media (max-width: 830px) {
    .call {
        p {
            width: 80%;
        }
    }
}

